* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-color: hsla(0, 0%, 92%);
  --bg-recipe: hsl(0, 0%, 100%);
  --title-subtitle-color: hsl(0, 0%, 11%);
  --footer-color: hsl(0, 0%, 56%);
  --texts-color: hsl(240, 1%, 23%);
}

html,
body {
  width: 100%;
  height: 100%;
}

main::before {
  content: '';
  width: 100%;
  height: 200%;
  background-color: var(--bg-color);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  width: 80rem;
  margin-inline: auto;
}

#wrapper {
  background-color: var(--bg-recipe);
  padding: 2.5rem;
  margin: 3rem;
  border-radius: 1rem;
}

header h1 {
  padding-top: 3.5rem;
  font: 700 2.8rem;
  text-transform: uppercase;
  color: var(--title-subtitle-color);
}

header figure img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 1rem;
  margin-top: 1.5rem;
}

figcaption {
  color: var(--footer-color);
  font-weight: 400;
  text-align: right;
}

h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: var(--title-subtitle-color);
  padding-block: 2.5rem;
}

li,
p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--texts-color);
  text-align: left;
  line-height: 4rem;
  list-style-position: inside;
}

.link {
  text-align: center;
  color: var(--footer-color);
}
